$fontColorHeading: rgb(56, 56, 56);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem 5%;

  .title {
    text-align: center;
    color: $fontColorHeading;
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  .days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;

    .day {
      min-width: 400px;
      flex: 1 0 20%;
      display: flex;
      flex-direction: column;
      border: 1px solid black;

      h1 {
        background-color: rgb(243, 243, 243);
        color: $fontColorHeading;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem;
        border-bottom: 3px solid rgb(0, 0, 0);
      }

      .main {
        flex: 1;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;

        div {
          border: 1px solid black;
          margin-bottom: 1rem;
          text-align: center;
          padding: 1rem;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 1.8rem;
            margin-bottom: 0.4rem;
          }
        }
      }
    }

    .sunday {
    }

    .monday {
      .main {
        align-items: center;
        justify-content: center;

        p {
          font-size: 2rem;
        }
      }
    }

    .tuesday {
    }

    .wednesday {
      .main {
        align-items: center;
        justify-content: center;

        p {
          font-size: 2rem;
        }
      }
    }

    .thursday {
    }
  }
}
