$fontColorOne: rgb(41, 41, 41);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  color: $fontColorOne;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

header {
  padding: 0 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.1);

  .logo__container {
    display: flex;
    align-items: center;
    margin-right: 4.8rem;

    img {
      height: 4.2rem;
      width: 4.2rem;
    }

    h1 {
      margin-left: 1rem;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tab__container {
      display: flex;
      gap: 2px;

      div {
        position: relative;
        display: grid;
        place-items: center;
        height: 6rem;
        padding: 0 2rem;
        cursor: pointer;

        &:hover {
          .bottom-border {
            display: block;
          }

          span {
            transform: rotate(180deg);
          }
        }

        .product--container {
          position: relative;
          padding: 0;
          height: 15px;
          width: 80px;
          display: flex;
          align-items: center;

          span {
            width: 10px;
            height: 20px;
            position: absolute;
            margin-left: 1rem;
            transition: all 0.2s ease-in;
          }
        }

        .bottom-border {
          display: none;
          position: absolute;
          bottom: 0;
          background-color: $fontColorOne;
          height: 3px;
          width: 40%;
          border-top-left-radius: 0.8rem;
          border-top-right-radius: 0.8rem;
        }

        a {
          font-size: 1.5rem;
          text-decoration: none;
        }
      }
    }

    .search-bar {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: rgb(243, 243, 243);
      border-radius: 4px;
      padding: 0 1.2rem;

      i {
        font-size: 1.5rem;
        margin-right: 1.2rem;
      }

      input {
        width: 150px;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

    .language-button-cta {
      margin-left: 1.4rem;
    }
  }

  .language-button-cta {
    margin-left: 1.6rem;
    height: 40px;
    border: 1px solid rgb(209, 209, 209);
    padding: 0 1.6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: rgb(243, 243, 243);

    span {
      &:nth-child(1) {
        margin-right: 1rem;
      }

      &:nth-child(2) {
        margin-bottom: 5px;
      }
    }
  }

  .go-to-console-text {
    margin-left: 1.4rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(255, 35, 82);
    display: grid;
    place-items: center;
    height: 40px;
    padding: 0 1rem;
    border-radius: 2px;

    &:hover {
      background-color: rgb(255, 239, 243);
    }
  }

  .avatar {
    margin-left: 1.4rem;
    height: 40px;
    width: 40px;
    background-image: url(https://uifaces.co/our-content/donated/gPZwCbdS.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
}
