@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*,
*::backdrop,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
p {
  color: $textColorTwo;
}

html {
  font-size: 62.5%; //62.5% of 16px = 10px
}

.hoverable {
  cursor: pointer;
}

.hoverable-icon {
  transition: all 0.1s ease-in;

  &:hover {
    background-color: #f4f7ff;
    color: $primary-blue;
    font-size: 2.5rem;
  }
}

body {
  .dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 280px 1fr;
    grid-template-rows: 80px 1fr;

    .icon-panel {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: #40506f;

      .logo-container {
        display: grid;
        place-items: center;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid rgba(214, 214, 214, 0.6);
        font-size: 3rem;
      }

      .middle-icons {
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;

        span {
          display: grid;
          place-items: center;
          width: 80px;
          text-align: center;
          height: 80px;
        }
      }

      .sign-out-icon {
        display: grid;
        place-items: center;
        width: 100%;
        height: 80px;
        color: #c9c9c9;
        border-top: 1px solid rgba(214, 214, 214, 0.6);
        font-size: 2.2rem;

        &:hover {
          color: $primary-blue;
        }
      }
    }

    .inbox {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      background-color: #f4f7ff;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .dashboard-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;
        padding: 2rem;
        font-size: 2rem;
      }

      .task-overview {
        .list-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2rem 2rem 1rem 2rem;

          button {
            background-color: $accentColorOne;
            border: none;
            border-radius: 3.6rem;
            padding: 0.6rem 1.5rem;
            font-weight: 600;
            font-size: 1.2rem;
            color: $textColorTwo;
          }

          span {
            font-size: 1.2rem;
            color: $primary-blue;
            font-weight: 500;

            b {
              color: $textColorTwo;
            }
          }
        }

        .list-view {
          .list-item {
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #9dbbf04e;

            &:last-child {
              border: none;
            }

            &:nth-child(-n + 2) {
              .text-container .title {
                margin-left: 1.2rem;
                &::before {
                  content: '';
                  height: 0.8rem;
                  width: 0.8rem;
                  color: red;
                  position: absolute;
                  top: 0.55rem;
                  left: -1.2rem;
                  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png);
                  background-size: contain;
                }
              }
            }

            .text-container {
              .title {
                font-size: 1.3rem;
                font-weight: 700;
                margin-bottom: 0.2rem;
                position: relative;
              }

              .subtitle {
                font-size: 1.2rem;
                color: $textColorThree;
                font-weight: 500;
              }
            }

            .icon-container {
              display: grid;
              place-items: center;
              height: 2.2rem;
              width: 2.2rem;
              border-radius: 50%;
              background-color: #e4eaff;
              margin-left: 0.2rem;
              margin-bottom: 0.1rem;
              color: $primary-blue;
              font-size: 1.4rem;
              font-weight: bold;
            }
          }
        }
      }

      .new-project__button {
        margin: 2rem auto;
        width: 72%;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-blue;
        border: none;
        border-radius: 0.4rem;
        color: white;
        box-shadow: 8px 8px 16px rgba($color: $primary-blue, $alpha: 0.42);

        .leading-icon {
          font-weight: 600;
          font-size: 1.8rem;
          margin-right: 0.2rem;
        }

        .title {
          margin-right: 1.2rem;
          font-size: 1.3rem;
          font-weight: 600;
        }
      }

      .stat-section {
        height: fit-content;
        text-align: center;
        margin-top: auto;
        margin-bottom: 3rem;
        padding: 0 2rem;

        .stat-section-title {
          font-weight: 700;
          font-size: 1.7rem;
          margin-bottom: 0.3rem;
        }

        .stat-section-subtitle {
          font-size: 1.2rem;
          font-weight: 600;
          color: $textColorThree;
          margin-bottom: 0.6rem;
        }

        .image {
          width: 20rem;
          height: 20rem;
          background-image: url(./image.svg);
          background-position: center;
          background-size: cover;
          margin: 0 auto;
          margin-bottom: 0.6rem;
        }

        .stat-section-details {
          font-size: 1.2rem;
          color: #536585;
          margin-bottom: 1.2rem;
        }

        .bottom-button {
          width: 10rem;
          border: none;
          background-color: transparent;
          color: $primary-blue;
          border-radius: 0.4rem;
          font-weight: 600;

          span {
            margin-right: 1rem;
          }
        }
      }
    }

    .header {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
      padding: 0 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input-field {
        width: 250px;

        span {
          margin-right: 1rem;
          font-size: 1.8rem;
          color: $textColorOne;
        }

        input {
          border: none;
          color: $textColorOne;
          font-size: 1.3rem;

          &:focus {
            outline: none;
          }
        }
      }

      .right-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 13rem;
          margin-right: 2rem;

          .leading-icon {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            background-color: $primary-blue;
            display: grid;
            place-items: center;

            span {
              color: white;
              margin-left: 2px;
            }
          }

          .text-container {
            .title {
              font-weight: 600;
              color: $textColorTwo;
              font-size: 1.3rem;
            }

            .subtitle {
              font-weight: 700;
              font-size: 1.2rem;
              color: $primary-blue;
            }
          }

          .bottom-arrow {
            font-weight: 700;
            font-size: 1.2rem;
          }
        }

        .divider {
          display: inline-block;
          width: 1.6px;
          height: 2rem;
          opacity: 0.5;
          background-color: $textColorOne;
        }

        .button-right {
          margin-left: 2rem;

          .image-container {
            background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=707b9c33066bf8808c934c8ab394dff6);
            background-position: center;
            background-size: cover;
          }

          .text-container {
            .subtitle {
              color: $textColorThree;
            }
          }
        }
      }
    }

    .details {
      padding: 0 3rem;

      .section-top {
        .title {
          font-size: 2.2rem;
          color: $textColorOne;
          font-weight: 300;
          margin-bottom: 2rem;
          margin-top: 1rem;

          b {
            font-weight: 700;
            color: $textColorTwo;
          }
        }

        .cards-container {
          height: 24rem;
          display: flex;
          justify-content: space-between;
          gap: 2rem;

          .card {
            padding: 1.4rem 0;
            flex: 1;
            border-radius: 0.8rem;
          }

          .common-card-style-one {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 18rem;

            .top {
              padding: 0 1.5rem;
              display: flex;
              align-items: center;

              span {
                display: grid;
                place-items: center;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 0.4rem;
                background-color: white;
                box-shadow: 6px 6px 16px rgba($color: #000000, $alpha: 0.1);
                font-size: 1.8rem;
                margin-right: 1.4rem;
              }

              .text-container {
                p {
                  font-size: 1.2rem;
                  color: $textColorTwo;
                }
              }
            }

            .middle {
              padding: 0 3rem;
              padding-bottom: 1.2rem;
              border-bottom: 1px solid rgb(255, 255, 255);

              div {
                display: flex;
                align-items: center;

                h1 {
                  font-size: 3.6rem;
                  margin-right: 1.4rem;
                }

                p {
                  background-color: rgba($color: #000000, $alpha: 0.1);
                  padding: 0.6rem 1.1rem;
                  border-radius: 3.6rem;
                  font-size: 1.3rem;
                  font-weight: 600;
                  color: rgba($color: $textColorTwo, $alpha: 0.6);
                }
              }

              p {
                font-weight: 600;
                font-size: 1.2rem;
              }
            }

            .bottom {
              border: none;
              padding-bottom: 0;
            }
          }

          .common-card-style-two {
            display: flex;
            flex-direction: column;

            .top {
              padding: 0 1.5rem;
              display: flex;
              align-items: center;
              margin-bottom: 1.6rem;

              span {
                display: grid;
                place-items: center;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 0.4rem;
                background-color: white;
                box-shadow: 6px 6px 16px rgba($color: #000000, $alpha: 0.1);
                font-size: 1.8rem;
                margin-right: 1.4rem;
              }

              .text-container {
                p {
                  font-size: 1.2rem;
                  color: $textColorTwo;
                }
              }
            }

            .bottom {
              flex: 1;
              background-image: url(image2.svg);
              background-size: cover;
              background-position: center;
            }
          }

          .card-one {
            flex: 1;
            background-color: $accentColorOne;
          }

          .card-two {
            flex: 1.6;
            background-color: $blue-white;
          }

          .card-three {
            flex: 1;
            background-color: $primary-blue;

            p,
            h1 {
              color: white;
            }

            .top .text-container p {
              color: white;
              opacity: 0.8;
            }

            .middle {
              div {
                p {
                  color: white;
                  opacity: 0.8;
                }
              }
            }

            .bottom {
              border: none;
              padding-bottom: 0;
            }
          }

          .card-four {
            position: relative;
            flex: 2;
            background-color: $blue-white;

            .cog-icon {
              position: absolute;
              font-size: 2.2rem;
              bottom: 2rem;
              right: 2rem;
              cursor: pointer;
            }

            .status-h1 {
              font-size: 4rem;
              text-align: center;
              color: rgb(255, 5, 88);
              margin-bottom: auto;
            }

            .bottom-div {
              display: flex;
              align-items: center;
              padding: 0 2rem;
              margin-bottom: 0.6rem;

              p {
                font-size: 1.3rem;
              }

              .ip {
                span {
                  color: $primary-blue;
                  font-weight: bold;
                }
              }

              div {
                margin-left: 1rem;
                display: flex;
                align-items: center;
                font-weight: bold;

                span {
                  margin-right: 0.4rem;
                  display: inline-block;
                  width: 2rem;
                  height: 2rem;
                  border-radius: 3.6rem;
                  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/United-states_flag_icon_round.svg/1024px-United-states_flag_icon_round.svg.png);
                  background-position: center;
                  background-size: cover;
                }
              }
            }

            .last-p {
              align-self: flex-start;
              color: $primary-blue;
              margin-left: 2rem;
              font-weight: 600;
              font-size: 1.2rem;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      .section-middle {
        margin-top: 3rem;

        .headline {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          h1 {
            font-size: 2rem;
          }

          span {
            display: grid;
            place-items: center;
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
            background-color: #e4eaff;
            color: $primary-blue;
            font-size: 1.4rem;
            font-weight: bold;
            margin-left: 1rem;
          }
        }

        .section-middle-cards {
          margin-top: 2rem;
          display: flex;
          justify-content: space-between;
          align-content: center;
          gap: 2rem;

          .card {
            flex: 1;
            background-color: $blue-white;
            height: 14rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            .top-section {
              .company {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                span {
                  margin-right: 0.6rem;
                  display: inline-block;
                  width: 2rem;
                  height: 2rem;
                  border-radius: 3.6rem;
                  background-position: center;
                  background-size: cover;
                }

                p {
                  font-size: 1.2rem;
                }
              }
            }

            .date {
              margin-top: auto;
              font-size: 1.2rem;
              font-weight: 600;

              span {
                color: $textColorThree;
              }
            }
          }
        }
      }

      .section-bottom {
        margin-top: 3rem;

        .headline {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          h1 {
            font-size: 2rem;
          }

          span {
            display: grid;
            place-items: center;
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
            background-color: #e4eaff;
            color: $primary-blue;
            font-size: 1.4rem;
            font-weight: bold;
            margin-left: 1rem;
          }
        }

        .section-bottom-cards {
          margin-top: 2rem;
          display: flex;
          gap: 1rem;
          align-items: center;

          .card {
            height: 16rem;
            flex: 1;
            background-color: $blue-white;
          }
        }
      }
    }
  }
}
