* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open sans';
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 5fr 380px;
      grid-template-columns: 250px 5fr 380px;
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
}

body .left {
  z-index: 5;
  background-color: #f2f5fa;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .left .logo {
  color: #202020;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  font-size: 3rem;
}

body .left nav {
  list-style: none;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

body .left nav .nav-item {
  position: relative;
  padding: 1.6rem 0;
  padding-left: 5rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

body .left nav .nav-item:hover {
  background-color: #e2e7ec;
}

body .left nav .nav-item:hover hr {
  opacity: 1;
}

body .left nav .nav-item:hover .text {
  font-weight: bold;
}

body .left nav .nav-item:hover .icon-container i {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

body .left nav .nav-item hr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: black;
  opacity: 0;
}

body .left nav .nav-item .icon-container {
  margin-right: 1.8rem;
}

body .left nav .nav-item .icon-container i {
  font-size: 1.4rem;
  color: #202020;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

body .left nav .nav-item .text {
  color: #202020;
  font-size: 1.5rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

body .left .footer {
  margin-top: auto;
  margin-bottom: 2rem;
  text-align: center;
}

body .left .footer hr {
  color: #cccccc;
  width: 180px;
  margin-bottom: 8px;
}

body .left .footer p {
  font-weight: 600;
  font-size: 1.4rem;
}

body .header {
  z-index: 2;
  background-color: white;
  grid-column: 2 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
}

body .header .input-container {
  padding: 1.2rem;
  background-color: #f2f5fa;
  border-radius: 3.6rem;
}

body .header .input-container input {
  background-color: #f2f5fa;
  border: none;
  outline: none;
  font-size: 1.4rem;
}

body .header .input-container span {
  color: #707070;
  margin-right: 1.2rem;
  font-size: 1.6rem;
}

body .header .other-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .other-elements button {
  height: 3.2rem;
  width: 3.2rem;
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 1.4rem;
}

body .header .other-elements .notification-icon-container {
  position: relative;
  margin-right: 2.6rem;
}

body .header .other-elements .notification-icon-container i {
  font-size: 1.8rem;
}

body .header .other-elements .notification-icon-container .red-circle {
  position: absolute;
  right: 0;
  top: -4px;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
}

body .header .other-elements .image-container {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-image: url(https://uifaces.co/our-content/donated/gPZwCbdS.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}

body .header .other-elements span {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.4rem;
}

body .right {
  grid-row: 2 / -1;
}

body .right .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

body .right .header-right .title {
  font-size: 2rem;
  font-weight: 700;
}

body .right .header-right .dropdown-button {
  border: 1px solid #202020;
  border-radius: 3.6rem;
  padding: 0.8rem 2.8rem;
}

body .right .header-right .dropdown-button span {
  color: #202020;
  font-size: 1.2rem;
}

body .right .header-right .dropdown-button i {
  margin-left: 0.4rem;
  font-size: 1.2rem;
  color: #202020;
}

body .right .teachers .teacher-item {
  padding: 1.4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .right .teachers .teacher-item:nth-child(3) i {
  color: #202020;
}

body .right .teachers .teacher-item .avatar {
  height: 4.5rem;
  width: 4.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 2.4rem;
}

body .right .teachers .teacher-item .teacher-item-name {
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.4rem;
  color: #202020;
}

body .right .teachers .teacher-item .techer-item-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
}

body .right .teachers .teacher-item .techer-item-rate {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
  color: #5c5c5c;
}

body .right .teachers .teacher-item i {
  color: #acacac;
  font-size: 1.6rem;
}

body .right .schedule-header .dropdown-button {
  background-color: black;
}

body .right .schedule-header .dropdown-button span,
body .right .schedule-header .dropdown-button i {
  color: white;
}

body .right .schedule-section {
  width: 100%;
  height: 32rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
}

body .right .schedule-section .booking-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2rem 3rem;
}

body .right .schedule-section .booking-section .card {
  padding: 2rem 1.6rem;
  border-radius: 3rem;
  text-align: center;
  background-color: #f2f5fa;
}

body .right .schedule-section .booking-section .card .avatar {
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 1.6rem;
}

body .right .schedule-section .booking-section .card .title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

body .right .schedule-section .booking-section .card .details {
  font-size: 1.2rem;
  color: #202020;
  margin-bottom: 2rem;
}

body .right .schedule-section .booking-section .card button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 3.6rem;
  font-weight: 600;
}

body .right .schedule-section .own-classes-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2rem 3rem;
}

body .right .schedule-section .own-classes-section table {
  min-width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

body .right .schedule-section .own-classes-section table thead tr {
  background-color: black;
}

body .right .schedule-section .own-classes-section table thead tr th {
  color: white;
  text-align: left;
}

body .right .schedule-section .own-classes-section table tbody tr {
  border-bottom: 1px solid rgba(211, 211, 211, 0.692);
}

body .right .schedule-section .own-classes-section table tbody tr:nth-child(2) {
  background-color: #f8f8f8;
}

body .right .schedule-section .own-classes-section table tbody tr:last-child {
  border-bottom: 2px solid black;
}

body .right .schedule-section .own-classes-section table th,
body .right .schedule-section .own-classes-section table td {
  color: #202020;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
}

body .courses {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  background-color: white;
  padding: 3rem;
}

body .courses .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f5fa;
  width: 100%;
  height: 100%;
  border-radius: 2.8rem;
  padding: 2rem 2.4rem;
}

body .courses .container .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

body .courses .container .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
}

body .courses .container .list-item .icon-container {
  margin-right: 1.6rem;
  background-color: black;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .courses .container .list-item .icon-container i {
  color: white;
  font-size: 1.4rem;
}

body .courses .container .list-item .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .courses .container .list-item .text-container .course-name {
  font-weight: 600;
  color: #202020;
  font-size: 1.4rem;
}

body .courses .container .list-item .text-container .course-details {
  font-size: 1.2rem;
  color: #202020;
}

body .courses .container .list-item .trailing-icon {
  font-size: 1.4rem;
}

body .courses .container .progress {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

body .courses .container .progress .title {
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #202020;
}

body .courses .container .progress .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16rem;
  margin-bottom: 0.8rem;
}

body .courses .container .progress .icon-container span {
  -webkit-transform: scale(7);
          transform: scale(7);
  color: #202020;
}

body .courses .container .progress .progress-text {
  font-size: 1.4rem;
  color: #202020;
}
/*# sourceMappingURL=style.css.map */