@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 5fr 380px;
  grid-template-rows: 80px 1fr;

  .left {
    z-index: 5;
    background-color: $backgroundColor;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      color: $textColorTwo;
      margin-top: 2.5rem;
      margin-bottom: 6rem;
      font-size: 3rem;
    }

    nav {
      list-style: none;
      align-self: stretch;

      .nav-item {
        position: relative;
        padding: 1.6rem 0;
        padding-left: 5rem;
        transition: all 0.1s ease-in;

        &:hover {
          background-color: $hoverColor;

          hr {
            opacity: 1;
          }

          .text {
            font-weight: bold;
          }

          .icon-container i {
            transform: scale(1.35);
          }
        }

        hr {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 6px;
          background-color: $textColorOne;
          opacity: 0;
        }

        .icon-container {
          margin-right: 1.8rem;

          i {
            font-size: 1.4rem;
            color: $textColorTwo;
            transform: scale(1.3);
            transition: all 0.1s ease-in;
          }
        }

        .text {
          color: $textColorTwo;
          font-size: 1.5rem;
          transition: all 0.1s ease-in;
        }
      }
    }

    .footer {
      margin-top: auto;
      margin-bottom: 20px;
      text-align: center;

      hr {
        color: rgb(204, 204, 204);
        width: 180px;
        margin-bottom: 8px;
      }

      p {
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }

  .header {
    z-index: 2;
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 12px rgba($color: #000000, $alpha: 0.05);

    .input-container {
      padding: 1.2rem;
      background-color: $backgroundColor;
      border-radius: 3.6rem;

      input {
        background-color: $backgroundColor;
        border: none;
        outline: none;
        font-size: 1.4rem;
      }

      span {
        color: $iconColorLight;
        margin-right: 1.2rem;
        font-size: 1.6rem;
      }
    }

    .other-elements {
      display: flex;
      align-items: center;

      button {
        height: 3.2rem;
        width: 3.2rem;
        background-color: black;
        border: none;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
        margin-right: 1.4rem;
      }

      .notification-icon-container {
        position: relative;
        margin-right: 2.6rem;

        i {
          font-size: 1.8rem;
        }

        .red-circle {
          position: absolute;
          right: 0;
          top: -4px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: red;
        }
      }

      .image-container {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-image: url(https://uifaces.co/our-content/donated/gPZwCbdS.jpg);
        background-position: center;
        background-size: cover;
        margin-right: 1rem;
      }

      span {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }

  .right {
    grid-row: 2 / -1;

    .header-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 3rem;

      .title {
        font-size: 2rem;
        font-weight: 700;
      }

      .dropdown-button {
        border: 1px solid $textColorTwo;
        border-radius: 3.6rem;
        padding: 0.8rem 2.8rem;

        span {
          color: $textColorTwo;
          font-size: 1.2rem;
        }

        i {
          margin-left: 0.4rem;
          font-size: 1.2rem;
          color: $textColorTwo;
        }
      }
    }

    .teachers {
      .teacher-item {
        padding: 1.4rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(3) {
          i {
            color: $textColorTwo;
          }
        }

        .avatar {
          height: 4.5rem;
          width: 4.5rem;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          margin-right: 2.4rem;
        }

        .teacher-item-name {
          font-weight: 600;
          flex: 1;
          font-size: 1.4rem;
          color: $textColorTwo;
        }

        .techer-item-details {
          flex: 1;
          font-size: 1.2rem;
        }

        .techer-item-rate {
          flex: 1;
          font-size: 1.2rem;
          color: rgb(92, 92, 92);
        }

        i {
          color: $iconColorLightExtra;
          font-size: 1.6rem;
        }
      }
    }

    .schedule-header .dropdown-button {
      background-color: $textColorOne;

      span,
      i {
        color: white;
      }
    }

    .schedule-section {
      width: 100%;
      height: 320px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-row: 1fr;

      .booking-section {
        display: grid;
        place-items: center;
        padding: 20px 30px;

        .card {
          padding: 2rem 1.6rem;
          border-radius: 3rem;
          text-align: center;
          background-color: $backgroundColor;
          .avatar {
            margin: 0 auto;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-bottom: 1.6rem;
          }

          .title {
            font-weight: 700;
            font-size: 1.8rem;
            margin-bottom: 8px;
          }

          .details {
            font-size: 1.2rem;
            color: $textColorTwo;
            margin-bottom: 2rem;
          }

          button {
            background-color: $textColorOne;
            color: white;
            border: none;
            padding: 1rem 2.5rem;
            border-radius: 3.6rem;
            font-weight: 600;
          }
        }
      }

      .own-classes-section {
        display: grid;
        place-items: center;
        padding: 2rem 3rem;

        table {
          min-width: 100%;
          border-collapse: collapse;
          overflow: hidden;
          border-radius: 8px 8px 0 0;

          thead tr {
            background-color: black;

            th {
              color: white;
              text-align: left;
            }
          }

          tbody tr {
            border-bottom: 1px solid rgba(211, 211, 211, 0.692);

            &:nth-child(2) {
              background-color: rgb(248, 248, 248);
            }

            &:last-child {
              border-bottom: 2px solid black;
            }
          }

          th,
          td {
            color: $textColorTwo;
            padding: 1.6rem 2rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .courses {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    background-color: white;
    padding: 3rem;

    .container {
      display: flex;
      flex-direction: column;
      background-color: $backgroundColor;
      width: 100%;
      height: 100%;
      border-radius: 2.8rem;
      padding: 2rem 2.4rem;

      .title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
      }

      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.2rem;

        .icon-container {
          margin-right: 1.6rem;
          background-color: black;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          display: grid;
          place-items: center;

          i {
            color: white;
            font-size: 1.4rem;
          }
        }

        .text-container {
          flex: 1;

          .course-name {
            font-weight: 600;
            color: $textColorTwo;
            font-size: 1.4rem;
          }

          .course-details {
            font-size: 1.2rem;
            color: $textColorTwo;
          }
        }

        .trailing-icon {
          font-size: 1.4rem;
        }
      }

      .progress {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        .title {
          margin-top: 2.5rem;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 2rem;
          color: $textColorTwo;
        }

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 16rem;
          margin-bottom: 0.8rem;

          span {
            transform: scale(7);
            color: $textColorTwo;
          }
        }

        .progress-text {
          font-size: 1.4rem;
          color: $textColorTwo;
        }
      }
    }
  }
}
