@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 5fr 380px;
  grid-template-rows: 80px 1fr;

  .left {
    z-index: 5;
    background-color: $backgroundColor;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      color: rgb(44, 44, 44);
      margin-top: 25px;
      margin-bottom: 60px;
    }

    nav {
      list-style: none;
      align-self: stretch;

      .nav-item {
        position: relative;
        padding: 16px 0;
        padding-left: 50px;
        transition: all 0.1s ease-in;

        &:hover {
          background-color: #e2e7ec;

          hr {
            opacity: 1;
          }

          .text {
            font-weight: bold;
          }

          .icon-container i {
            transform: scale(1.35);
          }
        }

        hr {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 6px;
          background-color: black;
          opacity: 0;
        }

        .icon-container {
          margin-right: 18px;

          i {
            color: rgb(32, 32, 32);
            transform: scale(1.3);
            transition: all 0.1s ease-in;
          }
        }

        .text {
          color: rgb(32, 32, 32);
          font-size: 1.1rem;
          transition: all 0.1s ease-in;
        }
      }
    }
  }

  .header {
    z-index: 2;
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 12px rgba($color: #000000, $alpha: 0.05);

    .input-container {
      padding: 12px;
      background-color: $backgroundColor;
      border-radius: 36px;

      input {
        background-color: $backgroundColor;
        border: none;
        outline: none;
        font-size: 0.9rem;
      }

      span {
        color: rgb(112, 112, 112);
        margin-right: 12px;
      }
    }

    .other-elements {
      display: flex;
      align-items: center;

      button {
        height: 32px;
        width: 32px;
        background-color: black;
        border: none;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 16px;
      }

      .notification-icon-container {
        position: relative;
        margin-right: 40px;

        i {
          transform: scale(1.3);
        }

        .red-circle {
          position: absolute;
          right: -2px;
          top: -4px;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: red;
        }
      }

      .image-container {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-image: url(https://uifaces.co/our-content/donated/gPZwCbdS.jpg);
        background-position: center;
        background-size: cover;
        margin-right: 14px;
      }

      span {
        font-family: 'Montserrat';
        font-weight: 600;
      }
    }
  }

  .right {
    background-color: rgb(255, 255, 255);
    grid-row: 2 / -1;

    .header-right {
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;

      .title {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .dropdown-button {
        border: 1px solid rgb(87, 87, 87);
        border-radius: 36px;
        padding: 8px 28px;

        span {
          color: rgb(53, 53, 53);
        }

        i {
          margin-left: 4px;
          color: rgb(53, 53, 53);
        }
      }
    }

    .teachers {
      .teacher-item {
        padding: 14px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .avatar {
          height: 50px;
          width: 50px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          margin-right: 24px;
        }

        .teacher-item-name {
          font-weight: 600;
          flex: 1;
        }

        .techer-item-details {
          flex: 1;
        }

        .techer-item-rate {
          flex: 1;
        }

        i {
          transform: scale(1.4);
        }
      }
    }
  }

  .courses {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    background-color: white;
    padding: 30px;

    .container {
      background-color: $backgroundColor;
      width: 100%;
      height: 100%;
      border-radius: 28px;
      padding: 20px 24px;

      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 25px;
      }

      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;

        .icon-container {
          margin-right: 16px;
          background-color: black;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: grid;
          place-items: center;

          i {
            color: white;
          }
        }

        .text-container {
          flex: 1;

          .course-name {
            font-weight: 600;
            color: rgb(32, 32, 32);
          }

          .course-details {
            font-size: 0.8rem;
            color: rgb(58, 58, 58);
          }
        }

        div {
          display: inline-block;
        }
      }

      .progress {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          margin-top: 25px;
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 160px;
          margin-bottom: 8px;

          span {
            transform: scale(7);
          }
        }
      }
    }
  }
}
