body {
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

ul {
  list-style: none;
}

section {
  padding: 5em 2em;
}

header {
  background-color: white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  justify-content: space-between;

  #logo {
    color: rgb(27, 27, 27);
    font-size: 1.2em;
    font-weight: bold;

    span {
      color: rgb(26, 103, 247);
    }
  }

  .mobile-menu {
    cursor: pointer;
  }

  nav {
    display: none;
  }
}

.hero {
  text-align: center;

  .left-column {
    .subheader {
      color: rgb(104, 98, 98);
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h1 {
      font-size: 36px;
      color: rgb(34, 34, 34);
    }

    .hero-cta {
      display: flex;
      flex-direction: column;
      align-items: center;

      .primary-cta {
        display: inline-block;
        background-color: rgb(26, 103, 247);
        color: white;
        padding: 10px 26px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 0.7em;
      }

      .watch-video-cta {
        display: flex;
        align-items: center;
        span {
          color: rgb(27, 27, 27);
          margin-right: 0.3em;
        }
      }
    }
  }

  img {
    margin-top: 2.5em;
    width: 100%;
  }
}

.features-section {
  background-color: rgb(35, 38, 49);
  padding: 20px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    line-height: 1.6em;

    li {
      color: white;
      margin-bottom: 1em;
      margin-left: 2em;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('./bullet.svg');
        background-size: contain;
        left: -1.8em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    display: none;
    width: 100%;
  }
}

.testimonials-section {
  padding-bottom: 2em;
  background-color: rgb(26, 103, 247);

  ul {
    color: white;
    text-align: center;

    li {
      margin-bottom: 4em;
      background-color: rgb(24, 90, 211);
      border-radius: 10px;
      padding: 16px 26px;

      img {
        border: 8px solid rgb(24, 90, 211);
        border-radius: 50%;
        width: 80px;
        margin-top: -60px;
      }

      p:nth-child(3) {
        font-weight: 600;
      }
    }
  }
}

.contact-section {
  padding: 2em 2em;

  .contact-left {
    h2 {
      text-align: center;
      color: rgb(31, 31, 31);
    }

    form {
      display: flex;
      flex-direction: column;
      label {
        display: block;
        font-size: 1.1em;
        margin-bottom: 0.4em;
      }

      input {
        width: 100%;
        margin-bottom: 1em;
        border-radius: 0.1em;
        border: none;
        background-color: rgb(236, 236, 236);
        padding: 0.8em;

        &[type='submit'] {
          align-self: center;
          background-color: rgb(26, 103, 247);
          color: white;
          font-size: 1em;
          font-weight: 500;
          font-family: 'Montserrat';
          border-radius: 36px;
          width: unset;
          padding: 12px 26px;
          margin-top: 0.5em;
          margin-bottom: 3em;
        }
      }
    }
  }

  .contact-right {
    iframe {
      width: 100%;
      height: 300px;
    }
  }
}
