@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: rgb(12, 12, 12);
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 12%;
}

.container {
  display: flex;
  padding: 30px 12%;
  justify-content: space-between;
}

main {
  width: 70%;
}

aside {
  width: 25%;
}

.logo {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.two li {
  display: inline-block;
  padding: 0 16px;
}

.two a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: all 0.4s ease-in-out 0.1s;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: all 0.4s ease-in-out 0.1s;
}

.sign-up {
  padding: 9px 25px;
  background-color: none;
  border: 2px solid white;
  color: white;
  font-size: 0.9rem;
  border-radius: 2px;
}

.sign-in {
  padding: 9px 25px;
  background-color: white;
  border: 2px solid white;
  color: black;
  font-size: 0.9rem;
  border-radius: 2px;
}

.two a:hover {
  color: rgb(255, 27, 95);
}

.sign-up:hover {
  color: rgb(255, 27, 95);
  border-color: rgb(255, 27, 95);
}

.sign-in:hover {
  color: white;
  border-color: rgb(255, 27, 95);
  background-color: rgb(255, 27, 95);
}

h1,
h2,
h3,
p,
a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.article-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.article-read-more,
.article-info,
.article-body,
.article-title {
  margin-top: 12px;
  margin-bottom: 12px;
}

.article-read-more,
.article-info {
  font-size: 0.8rem;
}

.article-read-more {
  text-decoration: none;
  color: rgb(255, 27, 95);
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    height: 22vh;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 30px 5%;
  }
}
