$accentColor: rgb(255, 48, 144);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  height: 100vh;
  display: flex;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    position: relative;

    .logo {
      position: absolute;
      top: 46px;
      left: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 36px;
      }

      p {
        span {
          font-weight: bold;
          margin-left: 4px;
        }
      }
    }

    .content {
      padding-left: 12%;
      .title {
        font-weight: 800;
        margin-bottom: 16px;
        font-size: 2.2rem;
        line-height: 2.5rem;
      }

      p {
        font-size: 0.9rem;
        margin-bottom: 12px;
      }

      .des {
        span {
          color: $accentColor;
          font-weight: bold;
        }
      }

      hr {
        margin-top: 30px;
        width: 200px;
        margin-bottom: 30px;
      }

      .des-3 {
        span {
          font-size: 1.2rem;
          font-weight: bold;
        }

        margin-bottom: 40px;
      }

      .main-button {
        display: flex;
        height: 46px;
        padding: 0 16px;
        align-items: center;
        background-color: white;
        border: none;
        border-radius: 36px;
        box-shadow: 8px 8px 30px rgba($color: $accentColor, $alpha: 0.25);

        span {
          font-size: 0.9rem;
        }

        .main-text {
          font-weight: 600;
          margin: 0 20px;
        }

        .vl {
          width: 1px;
          align-self: stretch;
          background-color: red;
        }

        .price-text {
          margin: 0 20px;
          font-weight: bold;
        }
      }
    }
  }

  .right {
    flex: 1.3;
    padding: 25px 0 25px 0;
    position: relative;

    overflow: hidden;

    .image-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      transition: transform 0.5s ease-in-out;

      img {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    button {
      padding: 12px 26px;
      font-size: 0.9rem;
      border: none;
      border-radius: 36px;
      font-weight: bold;
      box-shadow: 8px 8px 16px rgba($color: #000000, $alpha: 0.4);
    }

    .button-container {
      position: absolute;
      top: 46px;
      right: 25px;

      .login-button {
        background-color: $accentColor;
        color: rgb(255, 255, 255);
      }

      .join-button {
        background-color: rgb(255, 255, 255);
        color: $accentColor;
        margin-left: 4px;
      }
    }

    .see-more-button {
      color: rgb(44, 44, 44);
      box-shadow: none;
      width: 160px;
      position: absolute;
      bottom: 46px;
      left: 50%;
      margin-left: -80px;
      padding: 14px 26px;
      background-color: white;

      i {
        color: $accentColor;
        margin-left: 10px;
      }
    }
  }
}
